<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
        <xacro:macro name="zeroerr_arm_ros2_control" params="name ros2_control_hardware_type">

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>ethercat_driver/EthercatDriver</plugin>
                <param name="master_id">0</param>
                <param name="control_frequency">1000</param>
            </hardware>

            <joint name="j1">
                <command_interface name="position"/>
                <state_interface name="position"/>
                <ec_module name="EROB">
                    <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
                    <param name="alias">0</param>
                    <param name="position">0</param>
                    <param name="mode_of_operation">8</param>
                    <param name="slave_config">/home/aroarm0/arm_ws/src/zeroerr_arm/zeroerr_config/config/zeroerr_slave_config.yaml</param>
                </ec_module>
            </joint>
            <joint name="j2">
                <command_interface name="position"/>
                <state_interface name="position"/>
                <ec_module name="EROB">
                    <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
                    <param name="alias">0</param>
                    <param name="position">1</param>
                    <param name="mode_of_operation">8</param>
                    <param name="slave_config">/home/aroarm0/arm_ws/src/zeroerr_arm/zeroerr_config/config/zeroerr_slave_config.yaml</param>
                </ec_module>
            </joint>
            <joint name="j3">
                <command_interface name="position"/>
                <state_interface name="position"/>
                <ec_module name="EROB">
                    <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
                    <param name="alias">0</param>
                    <param name="position">2</param>
                    <param name="mode_of_operation">8</param>
                    <param name="slave_config">/home/aroarm0/arm_ws/src/zeroerr_arm/zeroerr_config/config/zeroerr_slave_config.yaml</param>
                </ec_module>
            </joint>
            <joint name="j4">
                <command_interface name="position"/>
                <state_interface name="position"/>
                <ec_module name="EROB">
                    <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
                    <param name="alias">0</param>
                    <param name="position">3</param>
                    <param name="mode_of_operation">8</param>
                    <param name="slave_config">/home/aroarm0/arm_ws/src/zeroerr_arm/zeroerr_config/config/zeroerr_slave_config.yaml</param>
                </ec_module>
            </joint>
            <joint name="j5">
                <command_interface name="position"/>
                <state_interface name="position"/>
                <ec_module name="EROB">
                    <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
                    <param name="alias">0</param>
                    <param name="position">4</param>
                    <param name="mode_of_operation">8</param>
                    <param name="slave_config">/home/aroarm0/arm_ws/src/zeroerr_arm/zeroerr_config/config/zeroerr_slave_config.yaml</param>
                </ec_module>
            </joint>
            <joint name="j6">
                <command_interface name="position"/>
                <state_interface name="position"/>
                <ec_module name="EROB">
                    <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
                    <param name="alias">0</param>
                    <param name="position">5</param>
                    <param name="mode_of_operation">8</param>
                    <param name="slave_config">/home/aroarm0/arm_ws/src/zeroerr_arm/zeroerr_config/config/zeroerr_slave_config.yaml</param>
                </ec_module>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>